<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="center">
    <h3>Filter:</h3>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by country..">
    <table id="myTable" class="table table-sm table-striped table-bordered">
      <thead>
        <tr>
          <th>Phone</th>
          <th>Country</th>
          <th>Valid</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="customer : ${customers}">
          <td th:text="${customer.phone}"></td>
          <td th:text="${customer.country}"></td>
          <td th:text="${customer.valid} ? 'OK' : 'NOK'"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</body>
</html>